<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huang.submodel.dao.UserMapper">

    <resultMap type="com.huang.submodel.domain.User" id="resultUserMap">
        <result property="name" column="first_name" />
        <result property="password" column="last_name" />
    </resultMap>


    <select id="getUserByName" resultMap="resultUserMap" parameterType="String" >
        SELECT first_name,last_name
        FROM customer
        WHERE first_name = #{firstName} AND last_name = #{lastName}
    </select>





</mapper>

